body{
    background-color: #2F496E;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    color: #F4EADE;
    margin-top: 20px;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    font-family: 'Syncopate', sans-serif;
    color: #ED8C72;
}

.desc{
    color: black;
}

.links{
    margin: 0px 2.5px 0px 2.5px!important;
}

.gallery{
    margin-top: 20px;
}

.hdr{
    margin-top: 10px;
}
.jokeHead{
    padding-top: 10px;
    margin: 0px!important;
}

.btn-outline-primary{
    color: #F4EADE !important;
    border-color: #2988BC!important;
}
.btn-outline-primary:hover{
    color: #2988BC !important;
    background-color: #ED8C72!important;
}

.btn-primary{
    background-color: #2988BC;
    border-color: #2988BC;
    color: #F4EADE
}
.btn-primary:hover{
    background-color: #ED8C72!important;
    border-color: #ED8C72!important;
    color: #2988BC !important;
}

.form-group{
    margin: 0 auto;
    width:80%; 
    padding: 5px;
    max-width: 150px;
}

.deledit{
    margin: 0px 2.5px 0px 2.5px;
}

footer{
    color: black;
}


/* 
https://www.canva.com/learn/100-color-combinations/
#2988BC - Grecian Blue
#F4EADE - Plaster 
#ED8C72 - Pink
#2F496E - Dark Blue
*/
